@import '../vars';

.button {
  padding: 0;
  width: 180px;
  height: 46px;
  font-size: 12px;
  font-weight: bold;
  line-height: 46px;
  text-transform: uppercase;
  background: none;
  border: none;
  border-radius: 3px;
  color: #ffffff;
  appearance: none;
  outline: none;
  cursor: pointer;
  transition: background-color 150ms ease-in-out;

  &:not(:last-child) {
    margin-right: 10px;
  }
}

.button--primary {
  background-color: $blue;

  &:hover {
    background-color: lighten($blue, 10%);
  }
}

.button--secondary {
  background-color: #949599;

  &:hover {
    background-color: lighten(#949599, 10%);
  }
}
