.masonry-grid {
  padding: 20px 20px 0 0;
}

.masonry-grid__column {
  padding-left: 20px;
  display: inline-block;
  vertical-align: top;

  @media screen and (min-width: 48em) {
    width: 50%;
  }

  @media screen and (min-width: 60em) {
    width: 33.33%;
  }
}

.masonry-grid__img {
  background-color: #ccc;
  margin-bottom: 20px;
  width: 100%;
  vertical-align: middle;
  transition: opacity 200ms ease-in-out;

  &:hover {
    opacity: 0.75;
  }
}
