@import '../vars';

.modal__footer {
  background-color: $white;
  border-top: 1px solid $grey-2;
  height: 70px;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}
