@import '../vars';

.modal__header {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  height: 60px;
  font-size: 14px;
  line-height: 60px;
  background-color: $white;
  user-select: none;
  pointer-events: none; // non-functional;
}
